
:root {
  --header-height: 56px;
}

.header {
  display: block;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-color);
  border-bottom: 2px solid #004d4d;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
}

.headerTitle {
  font-size: 25px;
}

.headerContent {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerControls {
  display: flex;
  gap: 10px;
}

.headerControls span {
  text-decoration: underline;
}
